/* font-styles */

$base-font-size: 16px;
$base-line-height: 1.25;
$line-height-p: 1.57;
$base-font-weight: 500;
$base-font-family: "Lato";

/* colors */

$white: #ffffff;
$black: #000000;
$text-color: #333333;
$light-gray: #787878;
$green: #4CAD6D;
$light-green: #2BCE6D;
