.article-mini__image-wrap {
	overflow: hidden;
}

.article-mini__image-wrap img {
	width: 100%;
}

.article-mini__link {
	@include link-style;
}

.article-mini__title {
	margin: 0;
}

.article-mini__link:hover,
.article-mini__link:active {
	color: $green;
}

.article-mini__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.article-mini__term {
	@include link-style;
	color: $green;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.2;
	display: none;
}

.show-cat .article-mini__term {
    display: block;
}

@media (min-width: 783px) {

	.article-mini__footer {
		justify-content: flex-start;
	}

	.show-cat .article-mini__term {
		order: 0;
		padding-right: 20px;
		font-size: 14px;
	}

	.article-mini__date {
		order: 1;
	}
}
