.article-footer {
	position: relative;
	margin-top: 32px;
	padding-top: 32px;
	font-size: 12px;

	&::before {
		@include element-style(100%, 1px, #D8D1D1);
		top: 0;
		left: 0;
		right: 0;
	}
}

.article-footer__author {
	margin-bottom: 12px;
	font-weight: 500;
	color: $text-color;
	line-height: 2.16
}

.article-footer__topic-links a {
	@include link-style;
	display: inline-block;
	color: $green;
	font-weight: 600;
}

@media (min-width: 783px) {

	.article-footer {
		padding-top: 22px;
		font-size: 14px;
	}

	.article-footer__author {
		margin-bottom: 22px;
	}

	.site-main--single .slider .article-footer {
		margin-top: 58px;
	}
}
