.campaigns__paginator {
	display: none;
}

.campaigns {
	padding-top: 47px;
	overflow: hidden;
}

@media (min-width: 1024px) {

    .campaigns {
        padding-top: 40px;
    }

    .campaigns .container {
    	position: relative;
    	padding-top: 60px;
    	padding-bottom: 90px;
    	background-color: #F4F4F4;
    }

    .campaigns__list {
    	height: 294px;
    }

    .campaigns .article-mini__image-wrap {
    	height: 160px;
    	overflow: hidden;
    }

    .campaigns__paginator {
        display: block;
    	position: absolute;
        margin-top: 0;
    	bottom: 45px;
    	left: 50%;
    	transform: translate(-50%);
    }


}
