.category {
	display: flex;
	flex-direction: column;
}

.category__title {
	margin-bottom: 32px;
}

.category .news-section__list {
	@include list-style;
	margin-bottom: 37px;
}

.category .news-section__item {
	margin-bottom: 31px;

	&::before {
		display: none;
	}
}

.category .news-section__item:last-child {
	margin-bottom: 0;
}

.category .article-mini__image-wrap {
	display: flex;
}

@media (min-width: 768px) {

	.category .news-section__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.category .news-section__item {
		flex: 0 0 48%;
		padding: 0;
	}
}

@media (min-width: 900px) {

	.category__title {
		margin-bottom: 37px;
	}

	.category .news-section__list {
		margin-bottom: 59px;
	}

	.category .news-section__item {
		flex: 0 0 31%;
	}
}

@media (min-width: 1110px) {

	.category .news-section__item {
		margin-bottom: 64px;
		width: 330px;
		flex: unset;
	}
    
    .category .news-section__item:nth-last-child(2),
	.category .news-section__item:nth-last-child(3) {
		margin: 0;
	}
	
}
