.category {
	display: flex;
	flex-direction: column;
}

.category__title {
	margin-bottom: 32px;
}

.category .news-section__list {
	@include list-style;
	margin-bottom: 50px;
}

.category .news-section__item {

	&::before {
		display: none;
	}
	
}

.category .article-mini__image-wrap {
	display: flex;
}

@media (min-width: 768px) {

	.category .news-section__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.category .news-section__item {
		flex: 1 0 46%;
		padding: 0;
	}
}

@media (min-width: 900px) {

	.category .news-section__item {
		flex: 0 0 31%;
	}

	.category .news-section__item .article-mini__image-wrap {
		height: 219px;
	}

}

@media (min-width: 1110px) {

	.category .news-section__item {
		width: 330px;
		flex: unset;
	}
	
}
