.container {
	margin: 0 auto;
	padding: 0 15px;
	min-width: 320px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

@media (min-width: 768px) {

	.container {
		padding: 0 22px;
		min-width: 768px;
	}
}

@media (min-width: 1024px) {

	.container {
		padding: 0 30px;
		min-width: 1024px;
	}

	.container--single {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: start;
		padding: 0 50px;
	}

	.container--single .site-main__inner-wrap {
		width: 65%;
	}
}

@media (min-width: 1110px) {

	.container--single {
		padding: 0 90px;
	}

	.container {
		min-width: unset;
		max-width: unset;
		width: 1110px;
	}

	.container--single .site-main__inner-wrap {
		width: 600px;
	}
}
