.entry-content {
	margin: 0;
}

.entry-title {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.2;
}

.entry-content h2 {
	margin: 16px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}

.entry-content h3 {
	margin: 20px 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.11;
}

.entry-content p {
	margin-bottom: 20px;
}

.entry-content p:last-of-type {
	margin-bottom: 0;
}

.entry-content ul {
	margin: 22px 0 20px;
	padding-left: 21px;
}

.entry-content ul li {
	font-size: 17px;
}

@media (min-width: 783px) {

	.entry-title {
		font-size: 26px;
		line-height: 1.23;
	}

	.entry-content h2 {
		margin: 20px 0;
		font-size: 21px;
		line-height: 1.34;
		font-weight: 600;
	}

	.entry-content p {
		font-size: 17px;
		line-height: 1.65;
	}
}
