.logo {
	margin-left: -3px;
	width: 147px;
	height: 26px;
}

.logo a {
	@include link-style;
	width: 147px;
	height: 26px;
}

.logo svg {
	width: 147px;
	height: 26px;
	fill: $white;
}

@media (min-width: 783px) {

	.logo {
		margin-left: 0;
		width: 165px;
		height: 30px;
	}

	.logo a {
		width: 165px;
		height: 30px;
	}

	.logo svg {
		width: 165px;
		height: 30px;
	}
}
