.lwpcngNotice {
	padding: 24px 15px;
	width: 100%;
	max-width: 100%;
	text-align: left;
	border: none;
	box-shadow: -4px -4px 14px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;

	&::after {
		@include element-style(100%, 400%, #333333);
		bottom: 100%;
		left: 0;
		right: 0;
		opacity: 0.4;
		z-index: -1;
	}
}

.lwpcngNotice_message {
	display: block;
	position: relative;
	width: 100%;
}

.lwpcngNotice h2 {
	margin: 0;
	font-size: 20px;
	font-weight: 800;
	color: $text-color
}

.lwpcngNotice p {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	color: $text-color;
	line-height: 1.37;
}

.lwpcngNotice .lwpcngNotice_buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lwpcngNotice .lwpcngNotice_accept {
	order: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 131px;
	height: 40px;
	color: $white;
	font-size: 14px;
	font-weight: 600;
	background-color: $light-green;
	border-radius: 3px;
	border: none;
	box-sizing: border-box;
}

.lwpcngNotice .lwpcngNotice_reject  {
	position: absolute;
	top: 17px;
	right: 16px;
	margin: 0;
	padding: 0;
	width: 12px;
	height: 12px;
	font-size: 1px;
	border: none;
	background-color: transparent;
	color: transparent;

	&::before {
		@include element-style(16px, 3px, #979797);
		top: 5px;
		right: -1px;
		border-radius: 2px;
		transform: rotate(45deg);
	}

	&::after {
		@include element-style(16px, 3px, #979797);
		top: 5px;
		right: -1px;
		border-radius: 2px;
		transform: rotate(-45deg);
	}

}

.lwpcngNotice_more {
	order: 0;
	margin: 0;
}

.lwpcngNotice_more a {
	color: $green;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
}

@media (min-width: 768px) {

	.lwpcngNotice {
	    padding: 24px 22px;

	    &::after {
	    	display: none;
	    }
	}

	.lwpcngNotice .lwpcngNotice_reject {
		right: 22px;
	}
}

@media (min-width: 1024px) {

	.lwpcngNotice {
	    padding: 34px 0;
	}

	.lwpcngNotice_message {
		margin: 0 auto;
		margin-bottom: 25px;
		width: 964px;
	}

	.lwpcngNotice .lwpcngNotice_buttons {
		position: relative;
		justify-content: flex-start;
		margin: 0 auto;
		width: 964px;
	}

	.lwpcngNotice_more {
		margin-right: 68px;
	}

	.lwpcngNotice .lwpcngNotice_reject {
		top: -115px;
		right: 0;
		transform: translate(100%);
	}
}

@media (min-width: 1110px) {

	.lwpcngNotice_message {
		width: 1050px;
	}

	.lwpcngNotice .lwpcngNotice_buttons {
		width: 1050px;
	}
}
