.search-no-results .search-results__text {
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: 500;
	line-height: 2.16;
}

.no-results p {
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	color: $light-gray;

}

.search-rules {
	padding-top: 17px;
	line-height: 1.5;
}

.search-rules p {
	font-size: 16px;
	font-weight: 500;
	color: $text-color;
}

.search-rules__list {
	margin: 0;
	margin-top: 23px;
	padding: 0;
	padding-left: 18px;
	width: 100%;
	box-sizing: border-box;
}

.search-rules__item {
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

.search-rules b {
	font-weight: 800;
}

@media (min-width: 786px) {

	.no-results {
		margin-top: 5px;
	}

    .no-results p {
		font-size: 14px;
		line-height: 1.5;
	}

	.search-rules {
		padding-top: 60px;
		font-size: 17px;
	}

	.search-rules p {
		line-height: 1.64;
		font-size: 17px;
	}

	.search-rules__list {
		margin-top: 24px;
	}

	.search-rules__list li {
		margin-bottom: 13px;
		font-size: 17px;
		font-weight: 600;
		line-height: 1.65;
	}

}
