.opinion-mini__link {
    @include link-style;
}

.opinion-mini__inner-wrap {
	position: relative;
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	height: 123px;
	box-sizing: border-box;

	&::before {
		@include element-style(100%, 1px, #D8D1D1);
		top: 0;
		left: 0;
	}

	&::after {
		@include element-style(100%, 1px, #D8D1D1);
		bottom: 0;
		left: 0;
	}
}

.opinion-mini__img-wrap {
	display: flex;
	width: 122px;
	height: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	overflow: hidden;
}

.opinion-mini__img-wrap img {
	width: 100% !important;
	object-fit: cover;
	-webkit-filter: grayscale(100%);
	object-position: top;
}

.opinion-mini__caption {
	margin-left: 16px;
	padding-top: 24px;
}

.opinion-mini__caption .opinion-mini__title {
	margin: 0;
	margin-bottom: 8px;
}

.opinion-mini__title:hover,
.opinion-mini__title:active {
	color: $green;
}

.opinion-mini__who {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.16;
}

.opinion-mini__excerpt {
	position: relative;
	margin: 0;
	padding-top: 36px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.31;

	&::before {
		@include element-style(13px, 13px, transparent);
		left: 50%;
		top: 13px;
		transform: translate(-50%) rotate(180deg);
		background-image: url("../img/svg/quotes.svg");
		background-size: 13px;
		background-position: center;
	}
}

.opinion-mini__link:hover .opinion-mini__img-wrap img {
	-webkit-filter: unset;
}

@media (min-width: 783px) {

	.opinion-mini__caption {
		padding-top: 14px;
	}

	.opinion-mini__caption .opinion-mini__title {
		margin-bottom: 2px;
	}

	.opinion-mini__title span {
		display: block;
	}

	.opinion-mini__excerpt {

		&::before {
			left: 40%;
		}
	}
}
