.opinions--desktop {
	display: none;
}

.opinions {
	padding-top: 51px;
}

.opinions__link {
	position: relative;
	@include link-style;
	margin-bottom: 32px;

	&::before {
    	@include element-style(10px, 10px, transparent);
    	right: 2px;
    	top: 6px;
    	border: 2px solid #989898;
    	border-bottom: none;
    	border-left: none;
    	transform: rotate(45deg);
    }
}

.opinions__list {
	display: inline-flex;
   overflow: hidden;
   scrollbar-width: none;
   transform: translateX(0);
   will-change: transform;
   transition: transform 0.3s ease-out;
   cursor: grab;
}

.opinions__item {
	flex-shrink: 0;
	display: flex;
	width: 100vw;
	padding: 0 15px;
	user-select: none;
}

.grabbing {
	cursor: grabbing;
}

@media (min-width: 768px) {

	.opinions--desktop {
		display: block;
	}

	.opinions--mobile {
		display: none;
	}

	.opinions .container{
		display: flex;
		flex-direction: column;
	}

	.opinions__list {
		order: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.opinions__item {
		flex: 0 0 31%;
		padding: 0;
	}

	.opinions__link {
		order: 1;
		margin-top: 34px;
		margin-bottom: 0;
		margin-left: auto;
		padding-right: 10px;

		&::before {
			@include element-style(8px, 8px, transparent);
			right: 0;
			top: 5px;
			border: 2px solid $green;
			border-left: none;
			border-top: none;
			transform: rotate(-45deg);
	    }
	}

	.opinions__link .title__secondary {
		color: $green;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.2;
	}
}

@media (min-width: 1024px) {

	.opinions {
		padding-top: 52px;
	}

	.opinions__link {
		margin-top: 40px;

		&::before {
			top: 4px;
			right: 2px;
		}
	}

	.opinions__link .title__secondary {
		margin-bottom: 0;
	}

	.opinions__item {
		flex: 0 0 23%;
	}
}
