.pagination--desktop {
	display: none;
}

.pagination--mobile {
	display: flex;
}

.pagination {
	position: relative;
	margin: 0 auto;
	justify-content: center;
}

.pagination .nav-links {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.pagination .page-numbers {
	position: relative;
	@include link-style;
	margin-right: 15px;
	padding: 0 3px;
	font-size: 16px;
	font-weight: 600;

	&:last-child {
		margin-right: 0;
	}
}

.pagination .page-numbers:hover,
.pagination .page-numbers:active {
	color: $green;
	border-color: $green;

	&::before {
		border-color: $green;
	}
}

.pagination .current {
	border-bottom: 1px solid $text-color;
}

.pagination--mobile .prev,
.pagination--mobile .next {
	position: absolute;
	top: 1px;

	&::before {
		@include element-style(8px, 8px, transparent);
		top: 50%;
		border: 2px solid $text-color;
		
		border-radius: 2px;
		transform: rotate(45deg) translate(0, -85%);
	}
}

.pagination--mobile .prev span,
.pagination--mobile .next span {
	font-size: 0;
}

.pagination--mobile .prev {
	left: -43px;

	&::before {
		border-right: none;
		border-top: none;
	}
}

.pagination--mobile .next {
	right: -24px;

	&::before {
		left: -8px;
		border-bottom: none;
	    border-left: none;
	}
}

.pagination--mobile span:first-child {

	&::before {
		@include element-style(8px, 8px, transparent);
		top: 9px;
		border: 2px solid #9B9A9A;
		border-radius: 2px;
		transform: rotate(45deg);
		left: -34px;
		border-right: none;
		border-top: none;
	}
}

.pagination--mobile span:last-child {
	position: relative;

	&::before {
		@include element-style(8px, 8px, transparent);
		top: 9px;
		border: 2px solid #9B9A9A;
		border-radius: 2px;
		transform: rotate(45deg);
		right: -37px;
		border-bottom: none;
	    border-left: none;
	}
}

@media (min-width: 900px) {

	.pagination--desktop {
		position: relative;
		display: flex;
	}

	.pagination--mobile {
		display: none;
	}

	.pagination .page-numbers {
		font-weight: 700;
	}

	.pagination .current {
	    border-width: 2px;
	}
    
    .pagination--desktop .prev,
	.pagination--desktop .next {
		position: absolute;
		top: -1px;
		width: 114px;
		height: 16px;
		padding: 0;

		&::before {
			@include element-style(8px, 8px, transparent);
			top: 10px;
			border: 2px solid $text-color;
			border-radius: 2px;
			transform: rotate(45deg);
		}
	}

	.pagination--desktop .prev {
		left: -28px;
		transform: translate(-100%);

		&::before {
			left: -14px;
			border-right: none;
			border-top: none;
		}
	}

	.pagination--desktop .next {
		right: -28px;
		transform: translate(100%);

		&::before {
			right: 9px;
			border-bottom: none;
		    border-left: none;
		}
	}

	.pagination--desktop span:first-child {
		position: relative;

		&::after {
			content: "Предыдущая";
			width: 100px;
			height: 16px;
			position: absolute;
			display: block;
			left: -42px;
			top: 0;
			color: #9B9A9A;
			font-weight: 700;
			transform: translate(-100%);
		}

		&::before {
			@include element-style(8px, 8px, transparent);
			border: 2px solid #9B9A9A;
			border-radius: 2px;
			transform: rotate(45deg);
			left: -156px;
			top: 10px;
			border-right: none;
			border-top: none;
		}
	}

	.pagination--desktop span:last-child {
		position: relative;

		&::after {
			content: "Следующая";
			width: 100px;
			height: 16px;
			position: absolute;
			display: block;
			right: -42px;
			top: 0;
			color: #9B9A9A;
			font-weight: 700;
			transform: translate(100%);
		}

		&::before {
			@include element-style(8px, 8px, transparent);
			border: 2px solid #9B9A9A;
			border-radius: 2px;
			transform: rotate(45deg);
			right: -146px;
			top: 10px;
			border-bottom: none;
	        border-left: none;
		}
    }

}
