.platform__links {
	display: none;
}

.platform .entry-content {
	margin: 0;
}

.platform h1 {
	margin-top: 0;
	margin-bottom: 32px;
	font-size: 20px;
	font-weight: 800;
}

.platform h2 {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 700;
}

.platform span {
	display: block;
	color: $green;
	font-weight: 600;
}

.platform ul {
	margin: 0;
	padding-left: 21px;
}

.platform li {
	margin-bottom: 16px;
}

@media (min-width: 1024px) {

	.platform h1 {
		margin-top: 0;
		margin-bottom: 22px;
		font-size: 26px;
		font-weight: 900;
	}

	.platform h2 {
		margin-bottom: 20px;
		font-size: 21px;
		font-weight: 700;
	}

	.platform__links {
		order: 1;
		display: block;
	}

	.platform__links ul {
		@include list-style;
	}
}
