::-webkit-input-placeholder {
	font-size: 16px;
	color: #7b7b7b;
	font-family: "Lato";
	line-height: 1;
}

::-moz-placeholder {
	font-size: 16px;
	color: #7b7b7b;
	font-family: "Lato";
	line-height: 1;
}/* Firefox 19+ */

:-moz-placeholder {
	font-size: 16px;
	color: #7b7b7b;
	font-family: "Lato";
	line-height: 1;
}/* Firefox 18- */

:-ms-input-placeholder {
	font-size: 16px;
	color: #7b7b7b;
	font-family: "Lato";
	line-height: 1;
}

/* анимация попапа */

.searching-form__popup {
	position: fixed;
	left: 0;
	padding: 16px 15px 21px;
	width: 100%;
	background-color: #F9F9F9;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.08);
	z-index: 20;
}

.searching-form__popup.dlg-modal-fade {
	top: 51px;
}

.admin .searching-form__popup.dlg-modal-fade {
	top: 97px;
}

/* анимация попапа -finish*/

.searching-form__popup .container {
	padding: 0;
	min-width: unset;
	width: 100%;
}

.searching-form {
	width: 100%;
}

.searching-form__inner-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

/* стили кнопки выводящей форму поиска */

.searching-form__btn {
	position: relative;
	@include button-style;
	margin-left: auto;
	font-size: 0;
}

.searching-form__btn span {
	position: absolute;
	width: 17px;
	height: 2px;
	background-color: $white;
	opacity: 0;
	transition: all 0.3s ease 0s;

	&::before {
		@include element-style(17px, 2px, $white);
		opacity: 0;
		transition: all 0.3s ease 0s;
	}
}

.searching-form__btn svg {
	width: 22px;
	height: 22px;
	stroke: $white;
	stroke-width: 2px;
}

.searching-form__btn--close svg {
	opacity: 0;
}

.searching-form__btn--close span {
	top: 10px;
	left: -3px;
	transform: rotate(50deg);
    opacity: 1;

    &::before {
    	top: -8px;
	    left: 7px;
    	transform: rotate(-100deg);
    	opacity: 1;
    }
}

.searching-form input[type="text"] {
	padding: 9px 17px;
	width: 88%;
	height: 34px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	font-family: "Lato";
	background-color: #ECEBEB;
	border-radius: 3px;
}

.searching-form input[type="text"]:focus {
	outline: none;
}

.searching-form button[type="submit"] {
	@include button-style;
	width: 24px;
	height: 24px;
	font-size: 0;
}

.searching-form button svg {
	width: 24px;
	height: 24px;
	stroke: $green;
	stroke-width: 3px;
}

@media (min-width: 783px) {

	.searching-form__popup {
		justify-content: center;
		padding: 20px 22px;
	}

	.searching-form__popup.dlg-modal-fade {
		top: 81px;
	}

	.admin .searching-form__popup.dlg-modal-fade {
		top: 113px;
	}

	.searching-form__popup.dlg-modal-fade {
		padding: 0;
		padding-bottom: 40px;
		height: 116px;
		box-sizing: border-box;
	}

	.searching-form__popup.fadeIn {
		display: flex;
	}

	.searching-form__popup .container {
		position: relative;
		padding: 0 30px;
		justify-content: center;
	}

	.searching-form__close {
		@include button-style;
		position: absolute;
		right: 34px;
		top: 19px;
		width: 16px;
		height: 16px;
	}

	.searching-form__close span {
		position: relative;
		display: block;
		width: 20px;
		height: 3px;
		background-color: #4f4f4f;
		border-radius: 2px;
		transform: rotate(45deg);

		&::before {
			@include element-style(20px, 3px, #4f4f4f);
			transform: rotate(90deg);
		}
	}

	.searching-form {
		position: relative;
		margin: 0 auto;
		margin-top: auto;
		padding: 0;
		padding-top: 20px;
		width: 540px;

		&::after {
			@include element-style(510px, 1px, #DBDBDB);
			bottom: 0;
			left: 17px;
		}
	}

	.searching-form__btn--mobile {
		display: none;
	}

	.searching-form__btn {
		width: 22px;
		height: 22px;
	}

	.searching-form__btn svg {
		width: 22px;
		height: 22px;
		stroke: #4f4f4f;
		stroke-width: 3px;
	}

	.searching-form__btn:hover svg {
		stroke: $green;
	}

	.searching-form__btn span {
		width: 20px;
		background-color: #4f4f4f;

		&::before {
			width: 20px;
			background-color: #4f4f4f;
		}
	}

	.searching-form__btn--close span {
		top: 12px;
		left: 2px;
		transform: rotate(45deg);
	    opacity: 1;

	    &::before {
	    	top: 0;
		    left: 0;
	    	transform: rotate(-90deg);
	    	opacity: 1;
	    }
	}

	.searching-form input[type="text"] {
		padding-bottom: 15px;
		height: 38px;
		background-color: transparent;
	}

	/*.searching-form--shown {
		top: 123px;
	}*/

	.searching-form button[type="submit"] {
		position: absolute;
		right: 14px;
		top: 20px;
		
	}
}
