.search-results__title {
	margin-bottom: 20px;
}

.search-results .site-main .searching-form,
.search-no-results .site-main .searching-form {
	position: relative;
	margin-bottom: 17px;
	padding: 0;
	background-color: $white;
}

.search-no-results .site-main .searching-form,
.search-results .searching-form {
	margin-bottom: 15px;
}

.search-results__text {
	margin: 0;
	font-size: 12px;
	line-height: 2.1;
}

.search .search-results .search-results__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin-bottom: 46px;
	margin-top: 50px;
	padding: 0;
}

.search-results__item {
	margin-bottom: 31px;
}

.search-results__item::before {
	display: none;
}

.search-results__item .article-mini__image-wrap {
	display: flex;
}

.search-results .article-mini__link {
	font-weight: 800;
	margin-bottom: 8px;
}

@media (min-width: 768px) {

	.search-results__title {
		margin-bottom: 31px;
	}

	.search-results .searching-form,
	.search-no-results .site-main .searching-form {
		margin-left: 0;
		margin-right: auto;
		margin-bottom: 26px;
		padding: 0;
		width: 540px;
		transform: none;
		left: unset;

		&::after {
			left: 0;
			width: 100%;
		}
	}

	.search .search-results .search-results__list {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 58px;
		margin-bottom: 68px;
	}

	.search-results__item {
		flex-basis: 48%;
		padding: 0;
	}

	

	.search-results .searching-form input[type="text"],
	.search-no-results .site-main .searching-form input[type="text"] {
		padding-bottom: 12px;
	}

	.search-results .searching-form button[type="submit"] {
		right: 0;
		top: 0;
	}

	.search-results__text {
		font-size: 16px;
		font-weight: 700;
	}

	.search-results__list {
		margin-top: 64px;
		margin-bottom: 60px;
	}
    
    .search-results__item {
		flex-basis: 32%;
	}
}
