.site-footer {
	padding-top: 28px;
	padding-bottom: 25px;
	color: $white;
	background-color: $text-color;
}

.site-footer .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.site-footer__logo {
	display: flex;
	flex-direction: column;
}

.site-footer__logo p {
	margin: 0;
	margin-top: 9px;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2;
}

.site-footer .social {
	margin-left: auto;
	margin-right: 10px;
	margin-top: 7px;
}

.site-footer .social .social__item {
	margin-right: 0;
	margin-left: 26px;
	width: 16px;
	height: 16px;

	&:first-child {
		margin-left: 0;
	}
}

.site-footer .social__link svg {
	width: 16px;
	height: 16px;
}

.site-footer__warning {
	position: relative;
	margin-top: 0;
	margin-bottom: 11px;
	padding-bottom: 24px;
	font-size: 12px;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;

	&::after {
		@include element-style(100%, 1px, #535353);
		bottom: 0;
		left: 0;
	}
}

.site-footer__warning span {
	color: $white;
	font-weight: 600;
}

@media (min-width: 1024px) {

	.site-footer {
		padding-top: 57px;
		padding-bottom: 56px; 
	}

	.site-footer .container {
		position: relative;
		align-items: unset;
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 250px 160px 280px 225px 50px;
		justify-content: flex-start;
		overflow: visible;
	}

	.site-footer__logo {
		grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: start;
        align-self: start;
        margin-top: -7px;
	}

	.site-footer__logo .logo {
		width: 180px;
		height: 33px;
	}

	.site-footer__logo .logo a {
		width: 180px;
		height: 33px;
	}

	.site-footer__logo svg {
		width: 180px;
		height: 33px;
	}

	.site-footer__logo p {
		font-size: 12px;
	}

	.site-footer .social {
		grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
		margin: 0;
		align-self: flex-start;
	}

	.site-footer .social__title {
		display: block;
		margin: 0;
		margin-bottom: 10px;
		font-size: 12px;
		font-weight: 600;
	}

	.site-footer .social__list {
		align-items: flex-start;
	}

	.site-footer .social .social__item {
		margin-left: 0;
		margin-right: 20px;
		width: 14px;
		height: 14px;
	}
    
    .site-footer .social svg,
    .site-footer .social .social__item--tel .social__link--tel svg,
    .site-footer .social .social__item--tel .social__link--tel,
	.site-footer .social__item a {
		width: 14px;
		height: 14px;
	}
    
    .site-footer .social .social__item--rss,
    .site-footer .social .social__link--rss
	.site-footer .social .social__item--rss svg {
		width: 12px;
		height: 12px;
	}

	.site-footer__warning {
		grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: -1;
		margin-top: 31px;
		margin-bottom: 0;
		padding-top: 22px;
		padding-bottom: 0;
		line-height: 1.34;

		&::after {
			bottom: unset;
			top: 0;
		}
	}
}

@media (min-width: 1110px) {

	.site-footer .container {
		grid-template-columns: 290px 200px 322px auto 50px;
		justify-content: space-between;
	}
}
