.site-header {
	position: static;
    padding: 12px 0 13px;
    width: 100%;
	color: $white;
	background-color: #333333;
	z-index: 10;
}

.site-header--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.site-header--fixed.admin {
	top: 46px;
}

.site-header--fixed ~ .site-main {
  margin-top: 49px;
}

.site-header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.site-header__bottom {
	display: none;
}

.site-header__notification {
	@include button-style;
	margin-top: 5px;
	margin-left: auto;
	width: 24px;
	height: 22px;
}

.site-header__notification svg {
	width: 24px;
	height: 22px;
	fill: $white;
}

.site-header__notification:hover {
	width: 27px;
	height: 25px;
}

.site-header__notification:hover svg {
	width: 27px;
	height: 25px;
	fill: $green;
}

.site-header__notification--green {
	width: 27px;
	height: 25px;
}

.site-header__notification--green svg {
	width: 27px;
	height: 25px;
	fill: $green;
}

@media (min-width: 783px) {

	.site-header--fixed.admin {
		top: 32px;
	}
}

@media (min-width: 1024px) {

	.site-header {
		padding-top: 22px;
		padding-bottom: 0;
	}

	.site-header .logo {
		margin-right: 75px;
	}

	.site-header--fixed ~ .site-main {
	    margin-top: 142px;
	}

	.site-header .container {
		justify-content: flex-start;
	}

	.site-header__bottom {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 29px;
		background-color: #F9F9F9;
		z-index: 10;
	}

	.site-header__bottom .container {
		position: relative;
	}

	.site-header__bottom .news-categories {
		padding-top: 19px;
		padding-bottom: 15px;
		height: 61px;
	}

	.site-header__bottom .news-categories__item {
		margin-bottom: 0;
	}

	.site-header__bottom .news-categories--search {
		height: 116px;
	}

	.site-header__notification {
		order: 2;
		margin-top: 0;
		margin-left: 45px;
		width: 27px;
		height: 25px;
	}

	.site-header__notification svg {
		width: 27px;
		height: 25px;
	}
}
