.social__title {
	display: none;
}

.social__list {
	@include list-style;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social .social__item {
	margin-right: 24px;
	margin-bottom: 0;
	width: 16px;
	height: 16px;

	&::first-child {
		width: 18px;
		height: 18px;
	}

	&:last-child {
		margin-right: 0;
	}
}

.social__link {
	@include link-style;
	width: 16px;
	height: 16px;
}

.social .social__item:first-child .social__link {
    width: 18px;
	height: 18px;
}

.social__link svg {
	width: 16px;
	height: 16px;
	fill: $white;
}

.social .social__item:first-child .social__link svg {
    width: 18px;
	height: 18px;
}

.social__link:hover svg,
.social__link:active svg {
	fill: $green;
}

@media (min-width: 1024px) {

	.social__item {
		margin-right: 24px;
		width: 23px;
		height: 23px;

		&:last-child {
			margin-right: 0;
		}
	}

	.social__link svg {
		width: 23px;
		height: 23px;
		fill: $white;
	}
}
