.tags-menu {
	display: none;
}

@media (min-width: 783px) {

	.tags-menu {
		display: block;
		position: fixed;
		left: 0;
		right: 0;
		width: 100%;
		padding: 34px 0;
		color: $text-color;
		background-color: #F9F9F9;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.08);
	}

	.menu-tags-list-menu-container {
		width: 100%;
	}

	.tags-menu.dlg-modal-fade {
		top: 80px;
	}

	.admin .tags-menu.dlg-modal-fade {
		top: 113px;
	}

	.tags-menu .container {
		flex-direction: column;
		align-items: flex-start;
	}

	.tags-menu ul {
		@include list-style;
		width: 100%;
		justify-content: space-between;
	}

	.tags-menu__list {
		display: flex;
		flex-direction: row;
	}

	.tags-menu ul a {
		@include link-style;
		color: $text-color;
		font-size: 17px;
		font-weight: 700;
		line-height: 1.23;
		text-transform: uppercase;
	}

	.tags-menu .menu-item-has-children {
		margin-bottom: 0;
		width: 23%;

		&::last-child {
			margin-right: 0;
		}
	}

	.tags-menu .menu-item-has-children a {
	    margin-bottom: 8px;
	}

	.tags-menu .sub-menu li {
		margin-bottom: 6px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.tags-menu .sub-menu a {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.52;
		text-transform: none;
	}

	.tags-menu__link {
		position: relative;
		@include link-style;
		margin-top: 18px;
		margin-left: auto;
		padding-right: 10px;
		font-size: 17px;
		font-weight: 700;
		line-height: 1.23;
		color: $green;
		text-transform: uppercase;

		&::before {
			@include element-style(8px, 8px, transparent);
			right: 0;
			top: 6px;
			border: 2px solid $green;
			border-left: none;
			border-top: none;
			transform: rotate(-45deg);
		}
	}
}
