.title {
	margin: 0;
	margin-bottom: 32px;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.2;
}

.title__secondary {
	margin: 0;
	margin-bottom: 20px;
    color: $text-color;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
}

.title__secondary--desktop {
	display: none;
}

.title__third {
	margin: 0;
	color: $text-color;
	font-size: 16px;
	font-weight: 800;
	line-height: 1.24;
}

@media (min-width: 1024px) {
    
	.title {
		font-size: 24px;
	}

	.title__secondary--mobile {
		display: none;
	}

	.title__secondary--desktop {
		display: block;
	}

}