/** {
	outline: 1px solid red;
}*/

body {
	min-width: 320px;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	color: $text-color;

	&::before {
		@include element-style(100%, 100%, #333333);
		top: 49px;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		z-index: 2;
		transition: all 0.3s ease 0s;
	}
}

body.lock,
body.lock-share {
	overflow: hidden;

	&::before {
		visibility: visible;
		opacity: 0.4;
	}
}

img {
	display: block;
	width: unset;
	max-width: 100%;
	height: auto;
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

input,
textarea {
	border: none;
	box-sizing: border-box;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

ul {
	margin: 20px 0;
	padding: 0;
	padding-left: 16px;
}

li {
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: 783px) {

	body {

		&::before {
			top: 80px;
			height: 250px;
			background-color: #D9D6D6;
		}
	}

	body.admin {

		&::before {
			top: 113px;
		}
	}

	body.lock{

		&::before {
			opacity: 1;
			z-index: 2;
		}
    }
}

@media (min-width: 900px) {

	body.lock-share::before {
        display: none;
	}
}
