.card-article-link {
	position: relative;
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 23px;

	&::before {
		@include element-style(100%, 1px, #D8D1D1);
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.entry-content > .card-article-link {
	margin-top: 32px;
}

.entry-content > .card-article-link ~ .card-article-link {
	margin-top: 62px;
}

.card-article-link span {
	display: inline-block;
	margin-right: 12px;
	color: $green;
	font-size: 21px;
	font-weight: 800;
	line-height: 1.33;
}

.card-article-link h3 {
	margin: 0;
	font-size: 21px;
	font-weight: 700;
	line-height: 1.34;
}
