.channel-link {
	position: relative;
	margin: 32px 0;
	padding: 20px 0;
	font-weight: 700;
	line-height: 1.25;
	font-size: 15px;
	background-repeat: no-repeat;

	&::before {
		@include element-style(100%, 1px, #D8D1D1);
		top: 0;
		left: 0;
		right: 0;
	}

	&::after {
		@include element-style(100%, 1px, #D8D1D1);
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.channel-link--telegram {
	padding-left: 57px;
	background-image: url('../img/svg/tel-icon.svg');
	background-size: 36px;
	background-position: left 0 top 20px;
}

.channel-link--facebook {
	padding-left: 57px;
	background-image: url('../img/svg/fb-icon.svg');
	background-size: 32px;
	background-position: left 0 top 50%;
}

.channel-link a {
	@include link-style;
	display: inline-block;
	color: $green;
}

@media (min-width: 783px) {

	.channel-link {
		margin: 34px 0;
		padding: 31px 0;
		font-size: 17px;
		line-height: 1.65;
		background-size: 37px;
	}

	.channel-link--facebook {
		padding-left: 63px;
	}

	.channel-link--info {
		padding: 22px 0;
	}
}